* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

#container {
  margin: 10px;
  padding: 5px;
  text-align: center;
}

h1 {
  font-size: 2em;
  font-family: Arial, sans-serif;
  color: white;
  text-shadow: 2px 2px 2px gray;
}

input {
  margin: 10px;
  border: 2px solid white;
  background-color: rgb(190, 184, 184);
  height: 2em;
  width: 300px;
  font-size: 1.5em;

}

button {
  margin: 5px;
  padding: 3px;
  box-shadow: 3px 3px 3px gray;
  font-size: 1.25em;
}

#img-container {
  margin: 10px;
}

